{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            {% include 'message_display.html.twig' %}

            <a class="btn btn-primary btn-md" href="{{ path('homepage') }}">Retour à la liste des tweets</a>
        </div>
    </div>


{% endblock %}


{% block javascripts %}{% endblock %}
