{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <fieldset>
                <div class="count">
                    <legend>Accueil - {{ pagination.getTotalItemCount }} message(s)</legend>
                </div>
                <div id="sidebar" class="text-center">
                    {{ render(controller(
                        'AppBundle:Message:new'
                    )) }}
                </div>
                {% for message in pagination %}
                    {% include 'message_display.html.twig' %}
                {% else %}
                    Aucun message
                {% endfor %}
            </fieldset>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}



